.x4{
    text-decoration: none;
    font-size: 30px;
}

.x1{
background:chocolate;
color: firebrick;
font-family: calibri; 
padding: 15px;

}


.x6{
    width: 150px;
    height: 150px;
    border-radius: 300px;
}




































